.plan__item {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr auto auto;
    align-items: center;
    column-gap: 5px;
    padding: 20px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    .plan__item-name {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--primary-color);
        font-size: var(--font-15);
        font-weight: 700;
    }

    .plan__item-more {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        cursor: pointer;

        @media screen and (min-width: 320px) {
            margin-right: 15px;
        }

        &.open {
            border-radius: 50%;
            background-color: var(--more-bg-color);
        }
    }

    .plan__item-expand {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
    }

    .dropdown__content {
        top: 55px;
        right: 45px;

        .dropdown__option {
            font-size: var(--font-13);
            font-weight: 700;

            &.archive {
                color: var(--error-color);
            }
        }
    }
}