.product__container {
    margin: 0 auto;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding-top: 60px;
    box-shadow: 0px 2px 25px var(--box-shadow-color);
    background-color: var(--white-color);
    width: 100%;
    max-width: 800px;

    h2 {
        text-align: center;
    }

    .info {
        padding: 15px 30px;
        border-bottom: 1px solid var(--secondary-color);

        .info__block {
            display: flex;
            justify-content: space-between;
            column-gap: 20px;
            flex-wrap: wrap;
        }

        .info__block-first {
            margin-top: 30px;
        }

        .info__description {
            font-size: var(--font-15);
            font-weight: 400;
        }
    }

    .text-input__container {
        margin: 10px 0;
        width: 100%;
        max-width: 350px;
    
        label {
            display: block;
            margin-bottom: 5px;
            font-size: var(--font-13);
            font-weight: 700;
            color: var(--primary-color);
            line-height: 20px;
            cursor: pointer;

            &.product-image {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--border-color);
                border-radius: 4px;
                background-color: var(--file-bg-color);
                height: 46px;
                width: 46px;
            }

            .optional {
                font-size: var(--font-13);
                font-weight: 400;
                line-height: 20px;
                color: var(--primary-color);
            }
        }
    
        input[type="text"], input[type="number"] {
            border-radius: 4px;
            border: 1px solid var(--secondary-color);
            padding: 10px 15px;
            box-sizing: border-box;
            width: 100%;
            height: 48px;
            color: var(--primary-color);
            font-size: var(--font-15);
            font-weight: 400;
            line-height: 30px;
        }

        .text-input__description, .text-input__validation {
            margin: 10px 0;
            color: var(--primary-color);
            font-size: var(--font-13);
            font-weight: 400;
            line-height: 20px;
        }
    
        .text-input__validation {
            color: var(--error-color);
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
        
        /* Chrome, Safari, Edge, Opera */
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .btn__container {
        display: flex;
        justify-content: end;
        column-gap: 15px;
        padding: 30px;
    }
}