.billing-type__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    max-width: 220px;
    height: 46px;

    .tab {
        margin-bottom: 0;
        padding: 13px 20px;
        box-sizing: border-box;
        background-color: var(--white-color);
        color: var(--tab-color);
        height: 100%;
        font-size: var(--font-15);
        font-weight: 700;
        text-align: center;

        &.active {
            background-color: var(--tab-active-bg-color);
            color: var(--tab-active-color);
        }
    }
}

.price__container {
    position: relative;
    max-width: 350px;

    input {
        margin-right: 50px;
    }

    span {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: var(--font-15);
        font-weight: 400;
    }
}

.bill__container {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;

    .dropdown-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        border: 1px solid var(--border-color);
        background-color: var(--white-color);
        cursor: pointer;
    }

    .dropdown__content {
        top: 55px;
        right: 0;
    }
}

.another-plan-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 185px;
    background-color: var(--white-color);
}