:root {
    // COLOR
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #555555;
    --secondary-color: #E6E6E6;
    --border-color: #EAF1FE;
    --box-shadow-color: rgba(0, 0, 0, 0.05);
    --error-color: #F9393B;
    --disabled-bg-color: #F5F5F5;
    --disabled-color: #6B6B6B;
    --file-bg-color: #F9F9F9;
    --tab-color: #777777;
    --tab-active-color: #286EF1;
    --tab-active-bg-color: #D4E2FF;
    --more-bg-color: #EDEDED;

    // FONT SIZE
    --font-13: 13px;
    --font-15: 15px;
    --font-18: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.btn {
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    padding: 10px 25px;
    height: 40px;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: var(--font-13);
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;

    &.disabled {
        cursor: not-allowed;
        background-color: var(--disabled-bg-color);
        color: var(--disabled-color);
    }
}

.dropdown__content {
    z-index: 1;
    position: absolute;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    width: 172px;
    background-color: var(--white-color);

    .dropdown__option {
        padding: 5px 15px;
        cursor: pointer;

        &:hover {
            background-color: var(--secondary-color);
        }
    }
}