.product-image__container {
    display: flex;
    align-items: center;
    column-gap: 15px;
    height: 50px;

    img {
        border: 1px solid var(--border-color);
        border-radius: 4px;
        box-sizing: border-box;
        max-height: 50px;
        max-width: 50px;
    }

    .btn {
        background-color: var(--white-color);
        border: none;
        outline: none;
        height: 100%;
        min-width: 60px;
        cursor: pointer;
        
        &.btn-edit {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
            padding: 0;
            color: var(--tab-active-color);
            font-size: var(--font-13);
            font-weight: 400;
        }

        &.btn-remove {
            padding: 0;
            color: var(--error-color);
            font-size: var(--font-13);
            font-weight: 400;
        }
    }
}